@import 'reset-css';

.main {
  padding: 1.5rem 1rem 1rem;
  max-width: 600px;
  margin: 0 auto;
}

.main h4 {
  font-size: calc(1.275rem + 0.3vw);
}

.main code {
  color: #d63384;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.main .semi-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.main .semi-form-field {
  margin-bottom: 0;
}
